body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: yellow;
    font-family: cursive;
    text-align: center;
}

.statis-counter {
    margin: 20px;
    border: dotted green;
    min-width: 300px;
    height: 200px;
    position: relative;
}

.icon {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.counter {
    font-size: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    color: green;
}

.statis-counter h4 {
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width:600px) {
    body {
        flex-direction: column;
    }
}